@{
    ViewBag.Title = "DashBoard";
}

@section breadcrumb {
    <ol class="breadcrumb">
        <li>Dashboard</li>
    </ol>
}

@section Dashboard {
    <h1 class="page-title txt-color-blueDark">@ViewBag.Title</h1>
}