/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */
.btn a {
color:#fff;padding:0px 2px; text-decoration:none;
}
.heading {
padding: 5px 2px;
font-weight: 800;
}
.inline-list ul {
    display: inline-block;
    float:left;
    list-style: none;
    padding:2px 10px;
}

.dt-toolbar {
    z-index: 999;
}